body {
  font-family: Helvetica;
  text-align: center;
  font-size: 14px;
}

.hero {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  background-size: cover;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

#topnav {
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.btn-nav {
  color: white;
  font-size: 18px;
}

#footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
